<div class="gallery-grid">
  <img src="{{ '/assets/img/gallery/countertops-before.jpg' | relative_url }}" alt="Kitchen countertops before resurfacing">
  <img src="{{ '/assets/img/gallery/countertop-refinishing.jpg' | relative_url }}" alt="Kitchen countertop refinishing project">
  <img src="{{ '/assets/img/gallery/countertop-island-after.jpg' | relative_url }}" alt="Granite-look countertop island after resurfacing">
  <img src="{{ '/assets/img/gallery/tub-before.jpg' | relative_url }}" alt="Bathtub before refinishing">
  <img src="{{ '/assets/img/gallery/tub-after.jpg' | relative_url }}" alt="Bathtub after refinishing">
  <img src="{{ '/assets/img/gallery/fiberglass-tub.jpg' | relative_url }}" alt="Fiberglass tub and surround refinishing project">
  <img src="{{ '/assets/img/gallery-01.jpg' | relative_url }}" alt="Bathroom tub and tile refinishing project">
  <img src="{{ '/assets/img/gallery-05.jpg' | relative_url }}" alt="Kitchen countertop resurfacing project">
  <img src="{{ '/assets/img/gallery-06.png' | relative_url }}" alt="Bright bathroom resurfacing inspiration">
</div>
